<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Connexion</title>
</head>
<body>
	<div align="center">
		<form action="/employee" method="post">
			<p>
				<label>id employee</label> <input type="text" name="idEmployee"
					id="idKonami" required>
			</p>
			<button>get</button>
		</form>
	</div>
	<div>
		<td th:text="${idKonami} ?: ${idKonami}" />
	</div>
	<div>
		<td th:text="${erreur} ?: ${erreur}" />
	</div>
	<div align="center">
		<form action="/connection" method="post">
			<p>
				<label>ID KONAMI</label> <input type="text" name="idKonami"
					id="idKonami" required>
			</p>
			<button>Connection</button>
		</form>
	</div>
</body>
</html>