<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand">Listes des Pages</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/home">Home</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/deconnexion">Deconnexion</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<td th:text="${idKonami} ?: ${idKonami}" />
	</div>
	<div>
		<td th:text="${erreur} ?: ${erreur}" />
	</div>
	<div align="center">
		<form action="/deconnexion" method="post">
			<button>Deconnexion</button>
		</form>
	</div>
</body>
</html>