<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Pairing</title>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand">Listes des Pages</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/listeJoueur">Liste joueur</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/pairingAdmin">Gestion tournoi</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/deconnexionAdmin">Deconnexion</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<td th:text="${erreur} ?: ${erreur}" />
	</div>
	<div align="center">
		<label>saisir liste joueur sous le format :
			<div>
				<b>cossy;nom;prenom</b>
			</div> pour les ajouter au tournoi tournoi
		</label>
		<form action="/creerTournoi" method="post">
			<p>
				<textarea name="infosJoueur" id="infosJoueur"></textarea>
			</p>
			<button>valider</button>
		</form>
	</div>
	<div align="center">
		<label>saisir pairing pour la round X sous le format :
			<div>
				<b>table;cossy</b>
			</div>
		</label>
		<form action="/saisirPairing" method="post">
			<p>
				<textarea name="pairing" id="pairing"></textarea>
			</p>
			<button>valider</button>
		</form>
	</div>
</body>
</html>