<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Liste des joueurs</title>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand">Listes des Pages</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/listeJoueur">Liste joueur</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/ecranPairingAdmin">Gestion
							tournoi</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/resultat">Resultat round</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/deconnexionAdmin">Deconnexion</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<td th:text="${erreur} ?: ${erreur}" />
	</div>
	<div align="center" th:if="${tournoiListeJoueur}">
		<table border="1">
			<thead>
				<tr>
					<th>cossy</th>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Point</th>
					<th>drop</th>
					<th>Penalite</th>
					<th>info</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="joueur: ${tournoiListeJoueur}">
					<td><h5 th:text="${joueur.cossy}"></h5></td>
					<td><h5 th:text="${joueur.nom}"></h5></td>
					<td><h5 th:text="${joueur.prenom}"></h5></td>
					<td><h5 th:text="${joueur.point}"></h5></td>
					<td><h5 th:text="${joueur.drop}"></h5></td>
					<td><h5 th:text="todo"></h5></td>
					<td><h5 th:text="todo"></h5></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>